@import '../../sass/main.scss';

.container {
  background-color: $blue-color-light;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  width: 23rem;
  .side-icon {
    margin-right: 0.5rem;
  }
  p {
    font-size: 1.6rem;
    color: $blue-color-dark;
  }
}
