@import '../../sass/main.scss';
.container {
  margin: 0rem;
  margin-bottom: 2rem;
  a {
    text-decoration: none;
    font-size: 1.4rem;
    color: $blue-color-dark;
    font-weight: 500;
    padding: 0rem;
  }
}
