@import '../../../sass/main.scss';
.container {
  background-color: $white-color-main;
  width: 25rem;
  margin: 1rem;
  border-radius: 1rem;
}
.infoPart {
  background-color: $blue-color-main;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: $white-color-main;
}
.topActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.code {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  justify-content: flex-start;
  img {
    margin: 0.2rem;
  }
}
//
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.otherInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  p {
    margin: 0;
    padding: 0.2rem;
  }
}
//
.statusPart {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    img {
      margin-right: 0.4rem;
    }
  }
}
