@import '../../sass/main.scss';

.dashboardPagesContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    margin-top: 5rem;
  }
  .bodyContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: red;
    padding: 4rem 0rem;
  }
}
