@import 'sass/main.scss';

body {
  margin: 0px;
  padding: 0px;
  font-family: $main-font;
  background-color: $grey-color-main;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

.pendingPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
