@import '../../sass/main.scss';

.SuccessMessage {
  // margin-top: 15rem;
  color: $green-color-main;
  background-color: $white-color-main;
  padding: 1rem;
  width: 50rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ErrorMessage {
  // margin-top: 15rem;
  color: $red-color-main;
  background-color: $white-color-main;
  padding: 1rem;
  width: 50rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
